*.class

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# ignore IDE files
.project
.classpath
.settings
.metadata

# ignore system files
.DS_Store

# ignore cached files
.idea/*
initial/.idea/*
